<%
meta title: "Campaign Software for Social Media - PoliLink by LinkPlug",
  description: "",
  keywords: %w(Launch Uber Everything Template),
  og: {
    title: "",
    description: "",
    type: "website",
    image: "",
    url: "http://#{ENV['PRODUCTION_DOMAIN']}"
  },
  twitter: {
    title: "",
    description: "",
    card: "summary_large_image",
    site: "@brianpetro_",
    creator: "@brianpetro_"
  } 
%>
<div id="header" class="row">
  <div class="col-sm-12 text-center">
    <h1>
      Campaign Software for Social Media
    </h1>
    <p class="lead">
      Share <em>any</em> article or news while simultaneously advertising for your campaign!
    </p>
    <ul class="list-unstyled list-inline">
      <li>
        <%= image_tag "icons/twitter.png" %>
      </li>
      <li>
        <%= image_tag "icons/facebook.png" %>
      </li>
      <li>
        <%= image_tag "icons/google-plus.png" %>
      </li>
      <li>
        <%= image_tag "icons/youtube.png" %>
      </li>
    </ul>
  </div>
</div>
<div id="section1" class="row">
  <div class="alert alert-info" role="alert" style="display: none">
  </div>
  <div class="alert alert-danger" role="alert" style="display: none">
  </div>
  <div class="col-sm-6">
    <p class="lead">
      Our technology allows you to display your campaign slogan or advertisement before the articles or news you share on social media from around the web (CNN, Fox, Bloomberg).
    </p>
    <p class="lead">
      Customized for your campaign goals
    </p>
    <ul class="list-group lead">
      <li class="list-group-item col-xs-6">
        Collect Emails
      </li>
      <li class="list-group-item col-xs-6">
        Get more Retweets
      </li>
      <li class="list-group-item col-xs-6">
        Get Donations
      </li>
      <li class="list-group-item col-xs-6">
        Show Campaign Video
      </li>
    </ul>
    <p class="text-center">
      <a class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
        Request a Demo
      </a>
    </p>
  </div>
  <div class="col-sm-6">
    <%= image_tag "reagan-plug-demo.png", class: 'img-responsive', alt: 'Reagan NichePlug example.' %>
  </div>
</div>
<div id="section2" class="row">
  <div class="col-sm-6">
    <%= image_tag "hands-phone.png", class: 'hidden-xs img-responsive', alt: 'Picture og hands holding a cell phone.' %>
  </div>
  <div class="col-sm-6">
    <p class="lead">
      We use Link-based technology to display your campaign advertisement on social media.
    </p>
    <p class="lead">
      This means that anytime someone on social media shares your link they will also be sharing the campaign advertisement.
    </p>
  </div>
</div>
<div id="team" class="row">
  <div class="col-sm-6">
    <p class="lead">
      Forbes.com has been using similar software to drive millions of social media shares.
    </p>
    <p class="lead">
      Now your campaign can get this software, customized for your campaign and with dedicated support.
    </p>
  </div>
  <div class="col-sm-6">
    <%= image_tag "brian-petro-edwin-espinosa-founders.png", class: 'hidden-xs img-responsive', alt: 'Brian Petro and Edwin Espinosa, the founders on LinkPlug and this political venture.' %>
  </div>
</div>
<div id="section3" class="row">
  <div class="col-sm-12 text-center">
    <h2>
      Get More Campaign Views
    </h2>
    <button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
      Request a Demo
    </button>
  </div>
</div>
<div id="section4" class="row">
  <div class="col-sm-12 text-center">
    <p class="lead">
      Share Anything
    </p>
    <ul class="list-unstyled list-inline">
      <li>
        <%= image_tag "icons/nyt.png" %>
      </li>
      <li>
        <%= image_tag "icons/yahoo.png" %>
      </li>
      <li>
        <%= image_tag "icons/reuters.png" %>
      </li>
      <li>
        <%= image_tag "icons/cnn.png" %>
      </li>
    </ul>
  </div>
</div>
<div id="footer" class="row">
  <div class="col-sm-12">
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Request a Demo</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert" style="display: none">
        </div>
        <div class="alert alert-danger" role="alert" style="display: none">
        </div>
        <%= render 'invite_form' %>
      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
    // setup parallax
    $('#header').parallax({imageSrc: <%= "'#{asset_url 'people-viewing-city.jpg'}'".html_safe %>});
    $('#section3').parallax({imageSrc: <%= "'#{asset_url 'girl-ipad.jpg'}'".html_safe %>});
  })
</script>
